{% extends 'ru/base.html' %}
{% block content %}
    <div class="w3-row-padding">
        {% for cat in category %}
            <div class="w3-quarter">
                <div class="w3-container w3-left-align w3-display-container w3-card-4 w3-margin"
                     style="height: 280px">
                    {% if cat.image %}
                        <div class="w3-display-topleft w3-amber w3-border-white w3-padding">{{ cat.created|date:'m.d' }}</div>
                        <img src="{{ cat.image.url }}" alt="Norway" style="width:100%">
                    {% endif %}
                    <div class="">
                        <p class="w3-container w3-amber w3-hover-text-blue-grey" style="height: 60px">
                            <a href="{{ cat.get_absolute_url }}" title="{{ cat.name }}" class="w3-hover " >
                                <b>{{ cat.name|truncatechars:35 }}</b>
                            </a>
                        </p>

                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

{% endblock %}