<!DOCTYPE html>
<html lang="ru">
{% load staticfiles %}
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} "Ыйман" диний маданиятты өнүктүрүү фонду {% endblock %}</title>
    <link href="https://fonts.googleapis.com/css?family=PT+Serif:400,700|Roboto:400,500&amp;subset=cyrillic"
          rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/normalize.css' %}">
    <link rel="stylesheet" href="{% static 'css/fonts.css' %}">
    <link rel="stylesheet" href="{% static 'css/jquery.fancybox.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/slick.css' %}">
    <link rel="stylesheet" href="{% static 'css/jquery.formstyler.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/media.css' %}">
    <link rel="stylesheet" href="{% static 'css/w3.css' %}">
    <link rel="stylesheet" href="{% static 'css/w3.black.css' %}">
    <link rel="stylesheet" href="{% static 'css_gallery/media.css' %}">
    {% block head %}

    {% endblock %}

</head>

<body>

<div class="w3-top w3-white w3-card" style="z-index: 5;">

    {#________________________________________________________________________#}
    <div class="w3-top">
        <div class="w3-bar w3-white w3-card">
            <button onclick="w3_open()"
                    class="w3-bar-item w3-button w3-padding-large w3-hide-large w3-right">
                <i class="fa fa-bars"></i>
            </button>
            <a href="/" class="w3-bar-item w3-button w3-padding-large logo">
                <img src="{{ fon.logo.url }}" alt="img" style="width: 100%;height: 100%;">
            </a>
            <a href="/ru/" class="w3-bar-item w3-button w3-padding-large w3-hover-amber">
                RU
            </a>
            <a href="{% url 'category' %}"
               class="w3-bar-item w3-button w3-padding-large w3-hide-small w3-hide-medium  w3-hover-amber "
            >Жаңылыктар</a>
            <a href="{% url 'kairymduuluk' %}"
               class="w3-bar-item w3-button w3-padding-large w3-hide-small w3-hide-medium  w3-hover-amber "
            >Кайрымдуулук</a>
            <a href="{% url 'video_list' %}"
               class="w3-bar-item w3-button w3-padding-large w3-hide-small w3-hide-medium w3-hover-amber "
            >Видеолор</a>
            <a href="{% url 'media_list' %}"
               class="w3-bar-item w3-button w3-padding-large w3-hide-small w3-hide-medium w3-hover-amber"
            >Долбоорлор</a>
            <a href="{% url 'gallery_list' %}"
               class="w3-bar-item w3-button w3-padding-large w3-hide-small w3-hide-medium  w3-hover-amber "
            >Сүттөр</a>
            <a href="{% url 'ofonde' %}"
               class="w3-bar-item w3-button w3-padding-large w3-hide-small w3-hide-medium  w3-hover-amber "
            >Фонд жөнундө</a>
            <button onclick="document.getElementById('id01').style.display='block'"
                    class="w3-bar-item w3-button w3-padding-large w3-hide-small w3-hover-amber w3-right">
                <i class="fa fa-search"></i>
            </button>
            <button onclick="document.getElementById('vhod').style.display='block'"
                    class="w3-bar-item w3-button w3-padding-large w3-hide-small w3-hover-amber  w3-right">
                <i class="fa fa-sign-in" aria-hidden="true"></i>
            </button>
        </div>
    </div>

    <!-- Navbar on small screens (remove the onclick attribute if you want the navbar to always show on top of the content when clicking on the links) -->


    {#_____________________________________________________________________________________#}
    <div class="w3-bar w3-left-align w3-large">


        <nav class="w3-sidebar w3-bar-block w3-card w3-animate-left w3-center" style="display:none" id="mySidebar">
            <hr class="w3-border-amber">
            <h1 class="w3-amber karta">Сайттын картасы</h1>
            <hr class="w3-border-amber">
            <div class="w3-margin">
                {% if user.is_authenticated %}
                    <div class="w3-card w3-margin">


                        {% for ass in backends.associated %}
                            {% if ass.provider == 'facebook' %}
                                <ul class="w3-ul w3-amber">
                                    <li class="">
                                        <img src="{{ ass.extra_data.picture.data.url }}" alt="" width="50"
                                             height="50" class="w3-left w3-margin-left w3-card-8 "
                                             style="border-radius: 50%">
                                        <span class="w3-large w3-center">{{ ass.extra_data.name }}</span>
                                        <span class="w3-right w3-margin-right w3-button w3-white w3-card-8 w3-round-large">
                                            <a href="{% url 'logout' %}">Чыгуу</a>
                                        </span>
                                    </li>
                                </ul>
                            {% endif %}
                        {% endfor %}

                    </div>
                {% else %}
                    <label class="w3-text-amber"><b>Cоц.акаунт аркылуу кириңиз</b></label>
                    <div class="w3-margin">
                        <a href="{% url 'social:begin' 'facebook' %}" class="w3-button w3-card-8 w3-blue">Facebook</a>
                    </div>
                {% endif %}
            </div>
            <button class="w3-button w3-display-bottomright w3-amber" onclick="w3_close()"><i class="fa fa-remove"></i>
            </button>
            <a href="{% url 'category' %}" class="w3-bar-item w3-button    w3-hover-amber "
            >Жаңылыктар</a>
            <a href="{% url 'kairymduuluk' %}" class="w3-bar-item w3-button    w3-hover-amber "
            >Кайрымдуулук</a>
            <a href="{% url 'video_list' %}" class="w3-bar-item w3-button   w3-hover-amber "
            >Видеолор</a>
            <a href="{% url 'media_list' %}" class="w3-bar-item w3-button   w3-hover-amber"
            >Долбоорлор</a>
            <a href="{% url 'gallery_list' %}" class="w3-bar-item w3-button    w3-hover-amber "
            >Сүрөттөр</a>
            <a href="{% url 'ofonde' %}" class="w3-bar-item w3-button    w3-hover-amber "
            >Фонд жөнундө</a>
            <button onclick="document.getElementById('id01').style.display='block'"
                    class="w3-bar-item w3-button w3-padding-large w3-hover-amber w3-right">
                <i class="fa fa-search"></i>
            </button>
        </nav>

        {#Бул издоо формасы#}
          <div id="id01" class="w3-modal w3-animate-opacity">
            <div class="w3-modal-content w3-card-4">
                <header class="w3-container w3-amber">
        <span onclick="document.getElementById('id01').style.display='none'"
              class="w3-button w3-large w3-display-topright">&times;</span>
                </header>


                <div id="myOverlay" class="overlay">
                    <span class="closebtn" onclick="closeSearch()" title="Close Overlay">×</span>
                    <div class="overlay-content">
                        <form method="get" action="{% url 'search' %}">
                             <input id="q" class=" w3-border w3-padding" name="q" type="text"
                                       placeholder="Бул жерге жазыңыз..." style="width: 80%">
                            <button style="vertical-align: top; height: 45px;" class="w3-button w3-amber w3-padding" type="submit"><i class="fa fa-search"></i></button>
                        </form>
                    </div>
                </div>



            </div>
        </div>
        {#Бул издоо формасы#}
        <div id="vhod" class="w3-modal w3-animate-opacity">
            <style>
                .w3-modal-content {
                    background-color: rgba(187, 187, 187, 0)
                }
            </style>
            <div class="w3-modal-content ">
                <header class="w3-container w3-amber">
        <span onclick="document.getElementById('vhod').style.display='none'"
              class="w3-button w3-large w3-display-topright">&times;</span>
                </header>
                <div class="w3-modal-content w3-margin">
                    <div class="w3-margin">
                        {% if user.is_authenticated %}
                            <div class="w3-card w3-margin">


                                {% for ass in backends.associated %}
                                    {% if ass.provider == 'facebook' %}
                                        <ul class="w3-ul w3-amber">
                                            <li class="">
                                                <img src="{{ ass.extra_data.picture.data.url }}" alt="" width="50"
                                                     height="50" class="w3-left w3-margin-left w3-card-8 "
                                                     style="border-radius: 50%">
                                                <span class="w3-large w3-center">{{ ass.extra_data.name }}</span>
                                                <span class="w3-right w3-margin-right w3-button w3-white w3-card-8 w3-round-large">
                                            <a href="{% url 'logout' %}">Чыгуу</a>
                                        </span>
                                            </li>
                                        </ul>
                                    {% endif %}
                                {% endfor %}

                            </div>
                        {% else %}
                            <label class="w3-text-amber"><b>Cоц.акаунт аркылуу кириңиз</b></label>
                            <div class="w3-margin">
                                <a href="{% url 'social:begin' 'facebook' %}" class="w3-button w3-card-8 w3-blue">Facebook</a>
                            </div>
                        {% endif %}
                    </div>

                </div>

            </div>
        </div>


    </div>

</div>






{% autoescape off %}
    <!-- ************************************************!SLIDER HTML!**************************************************** -->
    <div class="w3-container" style="margin-top: 5%">
        {% block content %}

        {% endblock %}
    </div>
{% endautoescape %}

<!-- ******************************************!FOOTER HTML!**************************************************** -->

<footer class="footer" id="contacts">

    <div class="footer__copy">
        <div class="container">

            <div class="icons">
                <a href="{{ ofonde.facebook }}"><i class="fa fa-facebook"></i></a>
                <a href="{{ ofonde.instagram }}"><i class="fa fa-instagram"></i></a>
                <a href="{{ ofonde.youtubbe }}"><i class="fa fa-youtube"></i></a>
            </div>

            <div class="copy__text">
                {{ ofonde.name }} | {{ ofonde.adres }} | {{ ofonde.email }} | {{ ofonde.phone }} (whatsapp)
            </div>
        </div>
    </div>
    </div>
</footer>

<!-- ******************************************!ID MODAL HTML!**************************************************** -->

<!-- ***************************************************************************************************************** -->

<script src="{% static 'js/jquery-3.4.1.min.js' %}"></script>
<script src="{% static 'js/jquery.fancybox.min.js' %}"></script>
<script src="{% static 'js/slick.min.js' %}"></script>
<script src="{% static 'js/script.js' %}"></script>
{% block script %}

{% endblock %}
<script>
    // Script for side navigation
    function w3_open() {
        var x = document.getElementById("mySidebar");
        x.style.width = "60%";
        x.style.display = "block";
    }

    // Close side navigation
    function w3_close() {
        document.getElementById("mySidebar").style.display = "none";
    }

    // Used to toggle the menu on smaller screens when clicking on the menu button
    function openNav() {
        var x = document.getElementById("navDemo");
        if (x.className.indexOf("w3-show") == -1) {
            x.className += " w3-show";
        } else {
            x.className = x.className.replace(" w3-show", "");
        }
    }
</script>
</body>

</html>