{% extends 'base.html' %}

{% block content %}
    <div class="w3-card-4 w3-display-container w3-text-black w3-center w3-mobile" style="height: 100px">
        <h2 class="w3-display-middle"><b>"ЫЙМАН" ФОНДУНУН ДОЛБООРЛОРУ</b></h2>
    </div>
    <hr class="w3-border-amber">
    <div class="w3-container">
        <div class="w3-row-padding" style="background-color: #dddddd">
            {% for album in medias %}

                <div class="w3-quarter w3-margin-top">
                    <div class="w3-container w3-card-4 w3-white w3-left-align w3-margin-bottom "
                         style="height: 260px; padding: 8px;">
                        <div class="" >
                            <img width="100%" src="{{ album.oblojka.url }}" alt="{{ album.name }}" style="height: 200px" />
                        </div>
                        <div class="" >
                            {% if album.name %}
                                <a class="w3-hover-text-amber" href="{{ album.dolboor_url.url }}" title="{{ album.name }}"><b>{{ album.name|truncatechars:40 }}</b></a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        {% include 'paginator.html' %}
    </div>
{% endblock %}