{% extends 'base.html' %}

{% block content %}
    <div class="w3-card-4 w3-display-container w3-text-black w3-center w3-mobile" style="height: 100px">
        <h2 class="w3-display-middle"><b>"ЫЙМАН" ФОНДУНУН ВИДЕО ПОРТАЛЫ</b></h2>
    </div>
    <hr class="w3-border-amber">
    <div class="w3-container">
        <div class="w3-row-padding" style="background-color: #dddddd">
            {% for album in videos %}

                <div class="w3-quarter w3-margin-top">
                    <div class="w3-container w3-card-4 w3-white w3-left-align w3-margin-bottom "
                         style="height: 260px; padding: 8px;">
                        <div class="">
                            <img width="100%" src="{{ album.oblojka.url }}" alt="{{ album.video_url }}"
                                 style="height: 60%" onclick="onClick(this)"/>
                        </div>
                        <div class="">
                            {% if album.name %}
                                <p class="w3-container w3-amber w3-hover-text-blue-grey" style="height: 60px">
                                    <b style="margin-top: 5px">{{ album.name|truncatechars:35 }}</b>
                                </p>
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% endfor %}
            <div id="modal01" class="w3-modal w3-black" onclick="this.style.display='none'">
                <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
                <div class="w3-modal-content w3-animate-zoom w3-container w3-black" style="height: 100%">
                    <iframe width="100%" height="90%" id="img01" frameborder="0"
                            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                </div>
            </div>
        </div>
        {% include 'paginator.html' %}
    </div>
{% endblock %}
{% block script %}
    <script>
        function onClick(element) {
            document.getElementById("img01").src = element.alt;
            document.getElementById("modal01").style.display = "block";
        }
    </script>
{% endblock %}